<ion-header>
  <ion-navbar>
    <ion-title>Contactos</ion-title>
    <ion-buttons right>
     <button (click)="dismiss()">
       Cancelar
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let contacto of listaContactos">
      <ion-avatar item-start>
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>{{contacto.displayName }}</h2>
    </ion-item>
  </ion-list>
</ion-content>
</ion-content>
