<ion-header>
  <ion-navbar>
    <ion-title>Contactos</ion-title>
    <ion-buttons right>
     <button (click)="dismiss()">
       Cancelar
     </button>
   </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-list>
    <button ion-item *ngFor="let contacto of listaContactos" (click)="dismiss(contacto)">
      <ion-avatar item-start>
         <img src="./assets/imgs/man.png">
      </ion-avatar>
      <h2>{{contacto.displayName}} {{contacto.id}}</h2>
    </button>

    <button ion-item (click)="dismiss({displayName:'prueba1'})">
      <ion-avatar item-start>
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>Contacto 1</h2>
    </button>



    <button ion-item (click)="dismiss({displayName:'prueba2'})">
      <ion-avatar item-start>
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>Contacto 2</h2>
    </button>




  </ion-list>
</ion-content>
