<ion-header>
  <ion-navbar>
    <ion-title>Citas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-calendar [(ngModel)]="dateRange"
              (onChange)="onChange($event)"
              [options]="optionsRange"
              [type]="type"
              [format]="'YYYY-MM-DD'">
</ion-calendar>


<ion-list>
  <ion-list-header>
    Citas
  </ion-list-header>
      <ion-item-sliding *ngFor="let cita of citas" >
        <ion-item>
          <ion-avatar item-start>
             <img src="./assets/imgs/calendar.png">
          </ion-avatar>
          <h2>{{cita.titulo}}</h2>
          <h6>{{cita.descripcion}}</h6>
          <h4>{{cita.lugar}}</h4>
          <h4>{{cita.hora}}</h4>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="eliminaCita(cita)">
            <ion-icon name="trash"></ion-icon>
            Eliminar
          </button>
          <button ion-button color="secondary" (click)="editaCita(cita)">
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
        </ion-item-options>

      </ion-item-sliding>


  <ion-list-header>
    Juntas
  </ion-list-header>
  <ion-item-sliding *ngFor="let junta of juntas" >
    <ion-item>
      <ion-avatar item-start>
<img src="./assets/imgs/calendar.png">
      </ion-avatar>
      <h2>{{junta.titulo}}</h2>
      <h6>{{junta.descripcion}}</h6>
      <h4>{{junta.lugar}}</h4>
      <h4>{{junta.hora}}</h4>


    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="eliminaCita(junta)">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </button>
      <button ion-button color="secondary" (click)="editaCita(junta)">
        <ion-icon name="create"></ion-icon>
        Editar
      </button>
    </ion-item-options>

  </ion-item-sliding>

  <ion-list-header>
    Entrega de Proyecto
  </ion-list-header>
  <ion-item-sliding *ngFor="let proyecto of proyectos" >
    <ion-item>
      <ion-avatar item-start>
<img src="./assets/imgs/calendar.png">
      </ion-avatar>
      <h2>{{proyecto.titulo}}</h2>
      <h6>{{proyecto.descripcion}}</h6>
      <h4>{{proyecto.lugar}}</h4>
      <h4>{{proyecto.hora}}</h4>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="eliminaCita(proyecto)">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </button>
      <button ion-button color="secondary" (click)="editaCita(proyecto)">
        <ion-icon name="create"></ion-icon>
        Editar
      </button>
    </ion-item-options>

  </ion-item-sliding>



  <ion-list-header>
    Examen
  </ion-list-header>
  <ion-item-sliding *ngFor="let examen of examenes" >
    <ion-item>
      <ion-avatar item-start>
<img src="./assets/imgs/calendar.png">
      </ion-avatar>
      <h2>{{examen.titulo}}</h2>
      <h6>{{examen.descripcion}}</h6>
      <h4>{{examen.lugar}}</h4>
      <h4>{{examen.hora}}</h4>

    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="eliminaCita(examen)">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </button>
      <button ion-button color="secondary" (click)="editaCita(examen)">
        <ion-icon name="create"></ion-icon>
        Editar
      </button>
    </ion-item-options>

  </ion-item-sliding>
  <ion-list-header>
    Otro
  </ion-list-header>
  <ion-item-sliding *ngFor="let otro of otro" >
    <ion-item>
      <ion-avatar item-start>
<img src="./assets/imgs/calendar.png">
      </ion-avatar>
      <h2>{{otro.titulo}}</h2>
      <h6>{{otro.descripcion}}</h6>
      <h4>{{otro.lugar}}</h4>
      <h4>{{otro.hora}}</h4>
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="eliminaCita(otro)">
        <ion-icon name="trash"></ion-icon>
        Eliminar
      </button>
      <button ion-button color="secondary" (click)="editaCita(otro)">
        <ion-icon name="create"></ion-icon>
        Editar
      </button>
    </ion-item-options>

  </ion-item-sliding>

</ion-list>

</ion-content>
