<ion-header>
  <ion-navbar>
    <ion-title>Citas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-calendar [(ngModel)]="dateRange"
              (onChange)="onChange($event)"
              [options]="optionsRange"
              [type]="type"
              [format]="'YYYY-MM-DD'">
</ion-calendar>

<ion-list>
  <ion-list-header>
    Citas
  </ion-list-header>
  <button ion-item *ngFor="let cita of citas">{{cita.titulo}}</button>


  <ion-list-header>
    Juntas
  </ion-list-header>
  <button ion-item *ngFor="let junta of juntas">{{junta.titulo}}</button>


  <ion-list-header>
    Entrega de Proyecto
  </ion-list-header>
  <button ion-item *ngFor="let proyecto of proyectos">{{proyecto.titulo}}</button>

  <ion-list-header>
    Examen
  </ion-list-header>
  <button ion-item *ngFor="let examen of examenes">{{examen.titulo}}</button>

  <ion-list-header>
    Otro
  </ion-list-header>
  <button ion-item *ngFor="let otro of otro">{{otro.titulo}}</button>


</ion-list>

</ion-content>
