<ion-header>
  <ion-navbar>
    <ion-title>Agregar Cita</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form >

    <ion-item>
      <ion-label floating>Titulo</ion-label>
      <ion-input
          type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Lugar</ion-label>
      <ion-input
          type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descripción</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label >Fecha</ion-label>
      <ion-input
          type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-input
          type="time"></ion-input>
    </ion-item>

    <button ion-button full (click)="presentProfileModal()">Agregar Invitados</button>


    <ion-chip #chip2 *ngFor="let invitado of invitados">
      <ion-label>{{invitado.displayName}}</ion-label>
      <button ion-button>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>



    <ion-row>
  <ion-col text-center>
    <button ion-button block color="secondary">
      Agregar
    </button>
  </ion-col>
</ion-row>


  </form>

</ion-content>
